
@import "tailwindcss";

@theme {

    --color-negro: #000000;
    --color-blanco: #ffffff;
    --color-primario: #2ABAFF;
    --color-secundario: #046D8C;
    --color-acento: #B2E6FF;
    --color-verde: #066810;
    --color-gris: #4F4F4F;
    --color-blancoTexto: #DFDFDF;

    --text-16px: 1rem;
    --text-14px: 0.875rem;
    --text-18px: 1.125rem;
    --text-28px: 1.75rem;

    --text-32px: 2rem;
    --text-3px: 2.25rem;

    --text-40px: 2.5rem;
    --text-48px: 3rem;

    --text-58px: 3.625rem;

  
}